---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Author: {{ metadata.author }}
Email: {{ metadata.authorEmail }}
Site: {{ metadata.url }}

/* THANKS */
Eleventy: https://www.11ty.dev/
