---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Design inspiration: https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd


Author: Adam DJ Brett
Email: info@adamdjbrett.com

Author: {{ metadata.author }}
Email: {{ metadata.authorEmail }}
Site: {{ metadata.url }}

/* THANKS */
Eleventy: https://www.11ty.dev/
