---
permalink: /feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/feed/pretty-atom-feed.xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link rel="self" href="{{ metadata.url }}/feed/feed.xml" />
  <link href="{{ metadata.url }}/" />
  <id>{{ metadata.url }}/</id>
  {% if collections.posts and collections.posts.length %}
    <updated>{{ collections.posts[0].date.toISOString() }}</updated>
  {% endif %}
  <author>
    <name>{{ metadata.author }}</name>
    {% if metadata.authorEmail %}<email>{{ metadata.authorEmail }}</email>{% endif %}
    {% if metadata.url %}<uri>{{ metadata.url }}</uri>{% endif %}
  </author>

  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ metadata.url }}{{ post.url }}" />
    <id>{{ metadata.url }}{{ post.url }}</id>
    {% if post.date %}<updated>{{ post.date.toISOString() }}</updated>{% endif %}
    <summary type="html"><![CDATA[{{ post.data.description or post.templateContent | safe }}]]></summary>
    <content type="html"><![CDATA[{{ post.templateContent | safe }}]]></content>
  </entry>
  {% endfor %}
</feed>
